<div class="row d-flex justify-content-center">
	<div class="col-8 col-lg-4">
		<h3 class="text-center mb-5">Welcome to skillup</h3>

		<figure>
			<blockquote class="blockquote">
				<p>make you career best with us</p>
			</blockquote>
			<!-- <figcaption class="blockquote-footer">
				
			</figcaption> -->
		</figure>
		
		<div class="d-grid mt-4">
			<a href="/payment" type="button" class="btn btn-primary">Pay</a>
			<div class="form-text text-center">Paid supcription will make u better thn others</div>
		</div>
	</div>
</div>